h1 {
  text-align: center;
}
#scoreBoard {
  width: 1000px;
  margin: 0 auto;
  font-family: sans-serif;
}
#scoreCard {
  color: white;
  text-shadow: 2px 1px 3px orangered;
}
#grid {
  width: 1000px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 10px;
  height: 10px;
}

.snake {
  background-color: black;
  border-radius: 7px;
}

.ghost {
  background-color: gray;
  border-radius: 2px;
}

.food {
  background-color: red;
  animation-name: animateFood;
  animation-duration: 0.4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  border-radius: 7px;
}

.specialFood {
  background-color: blueviolet;
  animation-name: animateSpecialFood;
  animation-duration: 0.4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  border-radius: 7px;
}

@keyframes animateFood {
  from {
    box-shadow: 0px 0px 0px 0px red;
  }
  to {
    box-shadow: 0px 0px 3px 3px red;
  }
}
@keyframes animateSpecialFood {
  from {
    box-shadow: 0px 0px 0px 0px blueviolet;
  }
  to {
    box-shadow: 0px 0px 3px 3px blueviolet;
  }
}
