h1 {
  text-align: center;
}
#scoreBoard {
  width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
}
#scoreCard {
  color: white;
  text-shadow: 2px 1px 3px orangered;
}
#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
  border-radius: 7px;
}

.ghost {
  background-color: gray;
  border-radius: 2px;
}

.food {
  background-color: red;
}
